h2{
	margin-top: 80px;
	font-weight: 700;
}
.p1{
	margin-top: 50px;
	color: #555;
	margin-bottom: 20px;
}
.form1{
	width: 360px;
	margin: 0 auto;
}
.form1 .btn{
	width: 100%;
}
.a1{
	display:block;
	margin-top: 5px;
}